@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Code */
* {
  margin: 0;
  padding: 0;
  background-color: #0f0826;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Custom Color Panel */

.bg-primary {
  background-color: #8e60f8;
}
.primary-color {
  color: #8e60f8;
}
.btn-bg {
  background: #672fed;
}

.bg1 {
  background: linear-gradient(
    180deg,
    rgba(142, 96, 248, 1) 0%,
    rgba(15, 8, 38, 1) 70%
  );
}
